@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

body {
  margin: 0;
  padding: 0;
}

@theme {
  --container-padding: 1rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-accent: var(--accent);
  --color-paragraph: var(--paragraph);
  --font-sans: var(--font-gotham);
  --font-mono: var(--font-geist-mono);
  --font-gotham: var(--font-gotham);
  --font-playfair: 'Playfair Display', serif;
  --font-garamound: 'EB Garamond', serif;
}

@utility container-padding {
  padding-inline: var(--container-padding);
}

@utility font-playfair {
  font-family: var(--font-playfair), serif;
}

@utility font-garamound {
  font-family: var(--font-garamound), serif;
}

@utility font-gotham {
  font-family: var(--font-gotham), sans-serif;
}

/* Override Tailwind's default container max-width */
@media (min-width: 96rem) {
  .container {
    max-width: 1728px !important;
  }
}

.text-primary {
  color: #09446c;
}

.text-secondary {
  color: #b49b57;
}

.text-tertiary {
  color: #f8f9fa;
}
.nav-link:hover {
  border-color: #e5e7eb;
}
.nav-link-hover:hover {
  color: #b49b57 !important;
}
/* Active navigation link */
.nav-link.text-primary {
  background-color: #eff6ff !important;
  border-color: #bfdbfe;
}

.btn-primary {
  background-color: #09446c;
}

.container-padding {
  padding: 0 20px !important;
}

.brands-swiper .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.brands-swiper .swiper-pagination-bullet {
  background: #09446c;
  opacity: 0.3;
}

.brands-swiper .swiper-pagination-bullet-active {
  background: #b49b57 !important;
  opacity: 1;
}